/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&display=swap');

/* selecting and setting all elements to make uniform */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
/* setting background color */
body{
    background: #007bff;
}
::selection{
    color: #fff;
    background: #007bff;
}

/* setting position */
.startBtn,
.infoBox,
.quizBox,
.resultBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* setting property when active */
.infoBox.activeInfo,
.quizBox.activeQuiz,
.resultBox.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
/* setting property when active */
.welcome.active {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
}
.welcome {
    opacity: 0;
    height: 100px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    display: flex;
    font-weight: 500;
    color: #007bff;
    padding: 15px 50px;
    outline: none;
    border: none;
    border-radius: 20px;
    background: #fff;
    margin-bottom: 200px;
}
.startBtn button{
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}
